/* Reset */

*{
margin:0;
padding:0;
box-sizing:border-box;
}

html,body{
width:100%;
overflow-x:hidden;
}


/* Scroll Lock */

body.menu-open{
overflow:hidden;
height:100vh;
}



/* Navbar */

.navbar{

position:sticky;
top:0;
left:0;

width:100%;

z-index:1000;

background:rgba(2,6,23,0.7);
backdrop-filter:blur(12px);

border-bottom:1px solid rgba(255,255,255,0.08);

}


/* Container */

.nav-container{

display:flex;
align-items:center;
justify-content:space-between;

width:100%;

padding:14px 5%;

color:white;

}



/* Logo */

.logo{

font-size:22px;
font-weight:600;

}

.logo a{

text-decoration:none;

background:linear-gradient(90deg,#38bdf8,#6366f1);

-webkit-background-clip:text;
-webkit-text-fill-color:transparent;

}



/* Nav Links */

.nav-links{

display:flex;

gap:28px;

align-items:center;

}



/* Nav Links Style */

.nav-links a{

text-decoration:none;
color:#e2e8f0;

font-size:15px;

position:relative;

transition:0.3s;

}



/* Hover */

.nav-links a::after{

content:"";

position:absolute;

left:0;
bottom:-5px;

width:0;
height:2px;

background:linear-gradient(90deg,#38bdf8,#6366f1);

transition:0.3s;

}

.nav-links a:hover::after{
width:100%;
}

.nav-links a:hover{
color:white;
}



/* Logout */

.logout{

padding:7px 16px;

border:none;
border-radius:6px;

background:linear-gradient(90deg,#2563eb,#4f46e5);

color:white;

cursor:pointer;

transition:0.3s;

}

.logout:hover{
transform:translateY(-1px);
}



/* Username */

.name-user{
color:#a3e635;
}



/* Menu Toggle */

.menu-toggle{

display:none;

font-size:26px;

cursor:pointer;

color:white;

}



/* Overlay */

.overlay{

position:fixed;

top:0;
left:0;

width:100vw;
height:100vh;

background:rgba(0,0,0,0.5);

z-index:999;

}



/* Tablet */

@media(max-width:1024px){

.nav-container{
padding:12px 4%;
}

}



/* Mobile */

@media(max-width:900px){

.menu-toggle{
display:block;
z-index:1001;
}



.nav-links{

position:fixed;

top:0;
right:0;

height:100vh;
height:100dvh;  /* mobile fix */

width:75%;
max-width:260px;

background:#020617;

flex-direction:column;

padding-top:80px;

gap:28px;

align-items:flex-start;

padding-left:25px;

transform:translateX(100%);

transition:0.3s ease;

z-index:1000;

overflow-y:auto;

}



.nav-links.active{
transform:translateX(0);
}



.nav-links a{
font-size:16px;
width:100%;
}



.logout{
width:85%;
margin-top:10px;
}

}



/* Small Mobile */

@media(max-width:480px){

.logo{
font-size:20px;
}

.menu-toggle{
font-size:24px;
}

.nav-links{
width:80%;
max-width:240px;
}

}