
.success-page{

min-height:100vh;
padding:40px 20px;

background:linear-gradient(135deg,#020617,#0f172a);
color:white;

}


.success-container{

max-width:1000px;
margin:auto;
text-align:center;

}

.success-container h1{

margin-bottom:10px;

background:linear-gradient(90deg,#22c55e,#4ade80);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;

}


.orders-box{

margin-top:30px;
display:flex;
flex-direction:column;
gap:20px;

}


.order-card{

background:rgba(255,255,255,0.05);
backdrop-filter:blur(15px);
padding:20px;
border-radius:18px;
border:1px solid rgba(255,255,255,0.1);

text-align:left;

}


.order-items{

margin-top:15px;
display:flex;
flex-direction:column;
gap:12px;

}


.item{

display:flex;
align-items:center;
gap:12px;

}

.item img{

width:60px;
height:60px;
object-fit:cover;
border-radius:8px;

}


.item-info h4{
font-size:14px;
}


.item-price{
margin-left:auto;
font-weight:600;
}


.order-footer{

margin-top:15px;

display:flex;
justify-content:space-between;
align-items:center;

border-top:1px solid rgba(255,255,255,0.1);
padding-top:12px;

}


.status{
color:#22c55e;
font-weight:600;
}


.total{
font-size:18px;
font-weight:700;
}


.continue-btn{

margin-top:30px;
padding:14px 28px;

background:linear-gradient(90deg,#3b82f6,#6366f1);
border:none;
border-radius:10px;

color:white;
cursor:pointer;

}


/* Responsive */

@media(max-width:700px){

.order-footer{
flex-direction:column;
gap:10px;
align-items:flex-start;
}

}


.delete-btn{
background: #ff4d4d;
color:white;
border:none;
padding:8px 16px;
border-radius:6px;
cursor:pointer;
transition:.3s;
}

.delete-btn:hover{
background:#e60000;
}